body{
    width: 2570px;
    height: 1530px;
    background-color: #FFFFFF;
}

.container{
    position: absolute;
    top:0px;
    left: 0px;
    margin-top: 0px;
    width: 2570px;
    height: 1530px;
}
.swiper-wrapper {
    width:2120px !important;
}

.swiper-button-prev {
    background-image: url('../../images/btn_prev.png');
    width: 69px;
    height: 138px;
    background-size: 130% 130%;
    top:40%;
    left: 3%;
}

.swiper-button-next {
    background-image: url('../../images/btn_next.png');
    width: 69px;
    height: 138px;
    background-size: 130% 130%;
    top:40%;
    right: 3%;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 60px;
}


.swiper-pagination span{
    width: 20px;
    height: 20px;
    background: #FFFFFF00;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #FFFFFF00;
    border: 4px solid #F49932;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background: #F49932;
}


/* gallery */
.gallery {
    position: relative;
}

.gallery .video button .img_zone {
    position: relative;
}

.gallery .video button .img_zone::before {
    z-index: 1;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 190px;
}

.gallery .video button .img_zone::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 125px;
    width: 2120px;
}

.gallery ul li {
    margin: 25px;
}

.gallery ul li button {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 480px;
    height: 500px;
    border: 1px solid #8c8c8c;
    background-color: #fff;
    overflow: hidden;
}

.gallery ul li button .img_zone {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.gallery ul li button .img_zone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery ul li button .txt_zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 20px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-top: 1px solid #8c8c8c;
}

.gallery ul li button .txt_zone b {
    display: inline-block;
    width: 430px;
    align-self: flex-start;
    font-size: 28px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.gallery ul li button .txt_zone i {
    align-self: flex-end;
    font-size: 22px;
    font-weight: 500;
    color: #939393;
}