body{
    width: 2570px;
    height: 1530px;
    background-color: #FFFFFF;
}

.container{
    position: absolute;
    top:0px;
    left: 0px;
    margin-top: 0px;
    width: 2570px;
    height: 1530px;
}

#id_img_list .img_zone{
    position: absolute;
    top: 0px;
    width:100%;
    height: 100%;
}

#id_img_list .img_zone img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.history{
    height: 1530px;
}