.main{
    width: 100%;
    height: 100%;    
}
.list_main{
    width: 100%;
    height: 100%;    
    background-color: #000000;
    position: absolute;
    z-index: 9999;
}

.sub_page_main {
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    width: 3200px;
    height: 2160px;
    overflow: hidden;
}

.frame_info {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px;
}