.cover {
    display: flex;
    width: 3840px;
    height: 2160px;
    background-color: #000;
    position: fixed;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 200px;
    height: 200px;
    border: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.list_main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 3140px;
    height: 2160px;
    box-sizing: border-box;
    background-color: #000000;
}

.notice_main .notice_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 3140px;
    height: 2160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice_main .notice_box img {
    width: 100%;
    height: 100%;
}

.notice_main .notice_box video {
    width: 100%;
    height: 100%;
/*    object-fit: fill;*/
}


.main {
    z-index: 10;
}

.sub {
    position: absolute;
    top: 0px;
    width: 3840px;
    height: 2160px;
}

.clock {
    display: flex;
    justify-content: center;
    width:97%;
}

.date {
    text-align: center;
}

.flip-clock-wrapper ul li a div div.inn {
    /*    font-family: nanumsquare;*/
    color: #FFCB00;
    font-size: 99px;
}

.flip-clock-wrapper ul li a div.up:after {
    top: 95%;
}

.flip-clock-wrapper ul li a div div {
    padding-top: 20%;
    font-family: Pretendard;
    font-weight: 400;
    color: #FFCB00;
}

.flip-clock-wrapper .flip-clock-dot {
    background-color: #FFFFFF;
    width: 7px;
    height: 7px;
}

.flip-clock-wrapper .flip-clock-dot.top {
    top: 50%;
}

.flip-clock-wrapper .flip-clock-dot.bottom {
    bottom: 1px;
}

.flip-clock-wrapper .flip {
    width: 85px;
    height: 130px;
}

.area_side .clock ul li a div div.inn {
    background-color: #F0654F;
    color: #FFFFFF;
}

.sub_page_main {
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    width: 2570px;
    height: 1530px;
    overflow: hidden;
}

.frame_info {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px;
}

.btn_zone {
    position: absolute;
    left: 3140px;
}

.popup_bg {

    width: 2570px;
    height: 1530px;
    top: 370px;
    left: 285px;
    transform: translate(0%, 0%);
}

.img_swiper {
    width: 1200px;
    overflow: hidden;
}

.popup .vod_zone {
    width: 1200px;
    height: 675px;
    overflow: hidden;
}

.popup .vod_zone video {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.swiper-button-prev {
    background-image: url('../../images/btn_prev.png');
    width: 69px;
    height: 138px;
    background-size: 130% 130%;
}

.swiper-button-next {
    background-image: url('../../images/btn_next.png');
    width: 69px;
    height: 138px;
    background-size: 130% 130%;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    top: 1010px;
}


.swiper-pagination span {
    width: 20px;
    height: 20px;
    background: #FFFFFF00;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #FFFFFF00;
    border: 4px solid #F49932;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background: #F49932;
}

.bg_deco {
    pointer-events: none;
}

.popup p {
    margin-top: 30px;
}


.area_side .align_center {
}