body{
    width: 2570px;
    height: 1530px;
    background-color: #FFFFFF;
}

.container{
    position: absolute;
    top:0px;
    left: 0px;
    margin-top: 0px;
    width: 2570px;
    height: 1530px;
}
/*

.container .nav_snb ul {
    justify-content: flex-start;
}
.container .nav_snb ul li {
    flex-grow: 0;
    width:465px;
}

.container .nav_snb button {
    width:465px;
}
*/

.img_zone{
    position: absolute;
    top: 0px;
    width:100%;
    height: 100%;
}

.img_zone img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}