body{
    width: 2570px;
    height: 1530px;
    background-color: #FFFFFF;
}

.container{
    position: absolute;
    top:0px;
    left: 0px;
    margin-top: 0px;
    width: 2570px;
    height: 1530px;
}

.img_zone{
    position: absolute;
    top: 0px;
    width:100%;
    height: 100%;
}

.img_zone img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-button-prev {
    background-image: url('../../images/btn_prev.png');
    width: 69px;
    height: 138px;
    background-size: 130% 130%;
    top:40%;
    left: 3%;
}

.swiper-button-next {
    background-image: url('../../images/btn_next.png');
    width: 69px;
    height: 138px;
    background-size: 130% 130%;
    top:40%;
    right: 3%;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 25px;
}

.swiper-pagination span{
    width: 20px;
    height: 20px;
    background: #FFFFFF00;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #FFFFFF00;
    border: 4px solid #F49932;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background: #F49932;
}
